.main__titre {
    text-align: center;
}

.titre-secondaire {
    font-family: var(--heading, "Inria Serif");
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    margin-top: 50px;
}

.titre-secondaire-accueil {
    font-family: var(--heading, "Inria Serif");
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 100px;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(161, 220, 195, 0.75);
    border: 2px solid #000;
    padding: 20px;
    border-radius: 8px;
    color: #000;
    width: 250px;
}

.main-title .title {
    color: #000;
    font-family: "Inria Serif", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.main-title .subtitle {
    font-family: var(--texte, "Inria Sans");
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texte {
    font-size: 16px;
    line-height: 1.5;
    z-index: 2;
    left: 10px;
    font-family: var(--texte, "Inria Sans");
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}

.pages {
    margin: 0;
}

.image-presentation {
    width: 237px;
    height: 158px;
    flex-shrink: 0;
    margin-left: 19%;
    margin-top: 35px;
    margin-bottom: 35px;
}